//Variables
$prycolor: #0898a0;
$blackcolor: #292f33;
// Reset style
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	box-sizing: border-box;
	font: normal 14px 'DM Sans', sans-serif;
	color: $blackcolor;
	position: relative;
	overflow-x: hidden;
}
a {
	color: initial;
	&:hover {
		text-decoration: none !important;
	}
}
button {
	box-shadow: none !important;
	outline: none !important;
}
li {
	list-style: none !important;
}
//Initial styles
.body-fluid {
	width: 100vw;
	min-height: 100vh;
	background: url(../../assets/img/vector_bg.svg) no-repeat right;
	background-position-x: 140px;
	&::after,
	&::before {
		content: '';
		position: absolute;
		z-index: 100;
		user-select: none;
		pointer-events: none;
	}
	&::before {
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		background: url(../../assets/img/vector_gray_bg.svg) no-repeat center center/cover;
		background-position-y: 500px;
		background-position-x: -38px;
	}
	&::after {
		width: 100%;
		height: 100px;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		background: url(../../assets/img/vector_gray_top.svg) no-repeat center center/contain;
		background-position-y: -20px;
	}

	main,
	header {
		position: relative;
		z-index: 1000;
	}
}
header {
	padding-top: 25px;
}
main {
	&.main-single-group {
		width: 100%;
		height: calc(100vh - 84px);
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
}
.text-pry {
	color: $prycolor;
}
section {
	width: 100%;
	&.login_section .rise-form-loader {
		width: 100%;
		max-width: 410px;
		margin: 0 auto;
		border: 1px solid #ccd6dd;
		padding: 30px;
		border-radius: 12px;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(24px);
	}
}
.form-inline-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.form-check-inline {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		label {
			margin: 0;
			margin-left: 5px;
			white-space: nowrap;
		}
	}
	.form-link-inline {
		margin: 0;
		text-align: left;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		a {
			text-align: right;
			color: $prycolor;
		}
	}
}
.rise-btn-primary {
	font-size: 16px;
	background: $prycolor;
	color: #fff;
	border-radius: 5px;
	width: 100%;
	text-transform: uppercase;
	margin-top: 20px;
	transition: 200ms;

	&:hover {
		background: #077b81;
		color: #fff;
	}
}
.form-text-group {
	font-size: 22px;
	font-weight: normal;
}
.rise-form-loader .form-group {
	position: relative;
	.form-control {
		background: #fff;
		outline: none;
		box-shadow: none;
		&:focus {
			border-color: $prycolor;
		}
	}
	label,
	span {
		position: absolute;
	}
	label {
		top: 8px;
		left: 5px;
		color: $blackcolor;
		margin: 0;
		padding: 2px 8px;
		background: #fff;
		transition: 200ms ease;
		pointer-events: none;
	}
	span {
		top: 0;
		bottom: 0;
		right: 0;
		width: 35px;
		filter: grayscale(100%);
		opacity: 0.5;
		line-height: 38px;
		cursor: pointer;

		img {
			width: 20px;
		}
	}
	input:focus,
	input:valid {
		border: 1px solid $prycolor;
		& + label {
			top: -10px !important;
			color: $prycolor;
			font-size: 10px;
		}
		& ~ span {
			filter: grayscale(0);
			opacity: 1;
		}
	}
}
.rise-form-loader .form-group.error-msg {
	.form-control {
		border: 1px solid red !important ;
	}
	input:focus,
	input:valid {
		border: 1px solid red !important ;
		& + label {
			color: red;
		}
		& ~ span {
			filter: grayscale(100%);
			opacity: 0.5;
		}
	}
	label {
		color: red;
	}
}
.hero-page-overflow {
	position: absolute !important;
	bottom: -5px;
	right: -70px;
	width: 70%;
	height: 55%;
	pointer-events: none;
	user-select: none;
	opacity: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
@media only screen and (min-width: 567px) {
	.body-fluid {
		background-position-x: 280px;
	}
	.rise-btn-primary {
		font-size: 18px;
	}
}
@media only screen and (min-width: 768px) {
	.rise-btn-primary {
		font-size: 20px;
	}
	.hero-page-overflow {
		opacity: 1;
	}
	section {
		width: 100%;
		&.login_section .rise-form-loader {
			padding: 40px;
			max-width: 455px;
			margin-left: 0;
		}
	}
	.body-fluid {
		background-position-x: 370px;
		&::before {
			background-position-y: 200px;
		}
	}
}
@media only screen and (min-width: 992px) {
	.hero-page-overflow {
		bottom: 0;
		right: 0;
		width: 600px;
		height: 600px;
	}
	.body-fluid {
		background-position-x: 500px;
	}
}
@media only screen and (min-width: 1200px) {
	.hero-page-overflow {
		width: 650px;
		height: 650px;
	}
	.body-fluid {
		background-position-x: 110%;
	}
}
